.container-fluid{
    min-height: 85vh; 
    display: flex;
    flex-direction: column;
    background-color:  rgb(221, 237, 235);
  }
  
  .banner{
	background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(10,101,162,1) 53%, rgba(0,203,171,1) 100%);
	color: white;
	font-weight: bold;
  border-radius: 8px;
  }

  button{
    font-size: 1rem;
    padding: .6rem 1.2rem;
    background-color: rgba(10,101,162,1);
    margin: .3rem .6rem;
    border-radius: .5rem;
    border: 1px solid rgb(2,0,36);
    color: #fff;
    filter: drop-shadow(0px 0px 2px  rgb(2,0,36));
    font-weight: 600;
  }

  /*
   * Extra utilities
   */
  
   .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }