<app-nav></app-nav>
<div class=" container-fluid body-quien-soy">
    <div class="row quien-soy">

        <div class="col-4 mb-4 mt-2">
        
            <img class=" z-depth-2" alt="alumna"
            src="./assets/quien-soy.jpg"
            data-holder-rendered="true" height="300">
        </div>
        <div class="col-5 m-2 d-flex flex-column align-items-center">
            <h1 class="my-5 h1">Juliana Chaves</h1>
            <!-- <h3 class="my-5 h1 ">Juliana Chaves</h3> -->
            <p>Alumna de la Tecnicatura Universitaria en Programación dictada en UTN FRA</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="m-2 text-center">
                Juego creado
            </h3>
            <p>descripcion del juego</p>
            <br>

            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Tempora numquam unde aliquid. 
            Dolore facilis hic optio sunt libero adipisci quae tenetur laboriosam aperiam. 
            Rerum perspiciatis animi natus sint reprehenderit quaerat!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Tempora numquam unde aliquid. 
            Dolore facilis hic optio sunt libero adipisci quae tenetur laboriosam aperiam. 
            Rerum perspiciatis animi natus sint reprehenderit quaerat!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Tempora numquam unde aliquid. 
            Dolore facilis hic optio sunt libero adipisci quae tenetur laboriosam aperiam. 
            Rerum perspiciatis animi natus sint reprehenderit quaerat!
            </p>
            
        </div>

    </div>
</div>
<app-footer></app-footer>
