 
.container-fluid{
    min-height: 85vh; 
    display: flex;
    flex-direction: column;
	color: white;
    /* padding: 5px; */
    background-color:  rgb(177, 129, 206);
}

form{
    min-height: 30h;
    color: white;
	background: rgb(226,160,203);
	background: radial-gradient(circle, rgba(226,160,203,1) 0%, rgba(233,8,237,1) 100%);
    border-radius: 8px;
	border: 2px solid violet;
}

