<app-nav></app-nav>
<div class="container-fluid">
	<div class="screen">
		<div class="screen__content">
			<form class="login" [formGroup]="formLogin" (ngSubmit)="submitLogin()">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="Usuario" formControlName="email" required>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password" formControlName="password"  required>
				</div>
				<button class="button login__submit" id="signup" value="aceptar">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
				<h3>log in via</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram">facebook</a>
					<a href="#" class="social-login__icon fab fa-facebook">Google</a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

<app-footer></app-footer>


<!-- <div class="container">
    <div class="bg-img"></div>
   <div class="header">
        <div class="loading">
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
            <div class="block"></div>
        </div>
        <h1>Go!</h1>
    </div> 
    <div class="login">
        <form [formGroup]="formLogin" (ngSubmit)="submitLogin()">
			<input type="text" placeholder="Usuario" formControlName="email" required>

	codigo que venia en el template
<input id="username" name="username" required="required" type="text" placeholder="Username" />
<input id="password" name="password" required="required" type="password" placeholder="Password" />
<button type="submit" value="Login" />Login</button>


			<input type="password" placeholder="Password" formControlName="password"  required>

			<button class="button login__submit" id="signup" value="aceptar">Login</button>
                
            <span class="form-toggle">Not Registered Yet?</span>
        </form>
    </div>
    <div class="register">
       <form>
            <input id="firstname" name="firstname" required="required" type="text" placeholder="First name" />
            <input id="lastname" name="lastname" required="required" type="text" placeholder="Last name" />
            <input id="email" name="email" required="required" type="enail" placeholder="Email" />
            <input id="username" name="username" required="required" type="text" placeholder="Username" />
            <input id="password" name="password" required="required" type="password" placeholder="Password" />
            <button type="submit" value="Login" >Register</button>
            <span class="form-toggle">Return to Login</span>
        </form>
    </div>
    <div class="footer">
        <ul class="footer-nav">
            <li class="link">FAQ</li>
            <li class="link">About Us</li>
            <li class="link">Contact Us</li>
            <li class="link">Privacy Policy</li>
        </ul>
      <p class="disclaimer"><b>Disclaimer</b> Every effort is made to keep the website up and running smoothly. However, we takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>
    </div>
</div> -->