
<nav class="navbar navbar-expand-lg navbar-dark fixed-top"
  style="background-color: black;">
    <div class="container">
      <a class="navbar-brand" routerLink="home"(click)="home()">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
            <a class="nav-link" (click)="login()">Login</a>
          </li>
        <!--
            routerLink="login" de esta manera se hacen las redirecciones como el href
        -->
          <li class="nav-item">
            <a class="nav-link" (click)="registro()">Registrarse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="juegos()">Juegos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="quienSoy()">Quien soy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

